/* font */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&display=swap');

:root {
    --background-nav: #1C1C1C;
    --background-points: #1A1A1A;
    --background-content: #050505;
    --background-bar: #404040;
    --color-highlight: #FF2B58;
    --color-highlight-less: #AB2B47;
    --color-title: #fff;
    --color-subtitle: #686868;
    --color-text: #C5C5C5;
    --color-details: #313131;
    --extra-small-padding: 6px;
    --small-padding: 12px;
    --medium-padding: 24px;
    --big-padding: 48px;
    --extra-small-margin: 6px;
    --small-margin: 12px;
    --medium-margin: 24px;
    --big-margin: 48px;
    --huge-margin: 72px;
}

html {
    box-sizing: border-box;
    background-color: var(--background-content);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body {
    background-color: var(--background-content);    
    font-family: 'Archivo';
    margin: 0 auto;
}

p {
    color: var(--color-text);
    margin-top: var(--big-margin);
}

a {
    margin-top: var(--big-margin);
    color: var(--color-subtitle);
    transition: all .4s ease;
    text-decoration: none;
}

a:hover {
    color: var(--color-highlight);
}

.banner {
    margin-top: var(--medium-margin);
    margin-bottom: 0;
}

.title {
    color: var(--color-highlight);
    margin-top: var(--big-margin);
    margin-bottom: var(--medium-margin);
    font-size: 1.5em;
}

.black-panel {
    background-color: var(--background-content);
    opacity: .85;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    transition: all 1s ease;
}

.remove-black-panel {
    opacity: 0;
    pointer-events: none;
}

.text-subtitle {
    margin: var(--extra-small-margin) 0px;
    color: var(--color-subtitle);
}

.easter-egg {
    background-image: url('/img/bg.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slide 32s linear infinite;
    min-height: 100vh;
}

@keyframes slide {
    from { background-position: 0 0; }
    to { background-position: 0px -512px; }
}

.game-box {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "gd loja loja"
    "gd loja loja";

    background-color: var(--background-nav);
    max-width: 650px;
    width: 100%;
    height: 100%;
    margin-top: var(--medium-margin);
    border-radius: 5px;
}

.game-designer {
    margin: var(--small-margin);
    border-radius: 4px;
    background-color: var(--background-content);
    grid-area: gd;
    max-height: 350px;
    max-width: 189px;   
    z-index: 1;
}

.gd {
    transition: all .3s ease;
    cursor: pointer;
    animation: glow 2.5s infinite ease-in;
}

.gd:hover {
    transform: scale(1.2);
}

.box-tutorial {
    border-radius: 5px;
    position: absolute;
    color: var(--color-title);
    background-color: #FF2B58;
    padding: var(--small-padding);
    right: -260px;
    top: 10px;
    max-width: 200px;
    z-index: 10;
    transform: scale(1.3);
    transition: all .4s ease;
    animation: boxtutorial 1.6s infinite ease;
}

.box-tutorial::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent var(--color-highlight) transparent transparent;
}

@keyframes boxtutorial {
    50% {transform: scale(1.35);};
}

.remove-box-tutorial {
    opacity: 0;
    pointer-events: none;
}

.click-feedback {
    position: absolute;
    content: 'click';
    color: var(--color-title);
    right: 10px;
    font-size: 1.8em;
    font-weight: 300;
    top: 20px;
    opacity: 0;
    animation: points .4s ease-in-out;
    pointer-events: none;
}

.click-per-second {
    position: absolute;
    content: 'click';
    color: var(--color-title);
    left: 10px;
    font-size: 1.4em;
    font-weight: 300;
    top: -20px;
    opacity: 0;
    animation: points .4s ease-in-out;
    pointer-events: none;
}

@keyframes points {
    0% {opacity: 1; transform: translateY(50px)};
    50% {opacity: .5; transform: translateY(50px)};
    100% {opacity: 1; transform: translateY(50px)};
}

@keyframes glow {
    0% {filter: drop-shadow(0px 0px 0px #FF2B58);}
    50% {filter: drop-shadow(0px 0px 30px #FF2B58);}
    100% {filter: drop-shadow(0px 0px 0px #FF2B58);}
}

.conquista {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--color-highlight);
    border-radius: 4px;
    padding: var(--small-padding);
    color: var(--color-title);
    margin: var(--small-margin) 0px;    
    position: fixed;
    z-index: 5;
    top: 50px;
    filter: drop-shadow(4px 4px 12px #000000);
    transition: all .5s ease;
}

.conquista > img {
    background-color: var(--color-highlight-less);
    border-radius: 4px;
    padding: 14px;
}

.conquista-info > h2, h3 {
    margin: var(--extra-small-margin) var(--small-margin);
}

.conquista-info > h3 {
    font-weight: 300;
}

.loja {
    grid-area: loja;
    background-color: var(--background-content);
    border-radius: 4px;
    margin: var(--small-margin);
    color: var(--color-title);
}

.title-loja {
    text-align: center;
}

.item {    
    margin: var(--small-margin);
}

.gd-points {
    color: var(--color-title);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: var(--background-points);
    margin-top: var(--medium-margin);
    padding: var(--small-margin) 0;
}

.per-click {
    align-items: center;
    justify-content: center;
    display: flex;
}

.per-click > img {
    max-width: 25px;
    margin-left: var(--small-margin);
}

.points-all {
    margin: 0 auto;
    font-size: 25px;
}

.points-second {
    margin: 0 auto;
    font-weight: 400;
    font-size: 12px;
}

.gd-stats {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: var(--medium-margin);
    z-index: 5;
}

.text-info {
    color: var(--color-title);
    font-size: 13px;
    font-weight: 400;
    margin: var(--small-margin);
}

.text-level {
    margin: 0;
    font-weight: 500;
    background-color: var(--color-highlight);
    padding: var(--extra-small-margin);
    margin-top: var(--small-margin);
    border-radius: 4px;
}

#hpBar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-title);
    font-weight: 300;
    font-size: 12px;
}

.item-content {
    position: relative;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: var(--small-margin) 0px;
    transition: all .3s ease;
    cursor: pointer;
    border: 2px solid var(--background-bar);
}

.item-content:hover {
    transform: scale(1.05);
    border: 2px solid var(--background-bar);
}

.tooltip {
    width: 220px;
    /* Position the tooltip */
    opacity: 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -110px;
    transition: all .3s ease;
    background-color: var(--color-highlight);
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: center;
    padding: var(--extra-small-margin);
    pointer-events: none;
}

.tooltip > h3, p {
    margin: var(--extra-small-margin) 0px;
    color: var(--color-title);
}

.tooltip > strong {
    font-size: 0.8em;
    color: var(--background-content);
}

.item-content:hover > .tooltip {
    opacity: 1;
}

.can-buy {
    border: 2px solid var(--color-highlight) !important;
}

.evo-1 {
    animation: evo1 3s infinite ease;
}

.evo-2 {
    animation: evo2 3s infinite ease;
}

.masterizado {
    background-color: var(--color-highlight);
    padding: 2px;
    border-radius: 3px 3px 0px 0px;
    position: absolute;
    font-size: .75em;
    margin-left: 42px;
    top: -21px;
    right: 12px;
    animation: floating 2s infinite ease-in-out;
    pointer-events: none;
    opacity: 0;
    transition: all .5s ease;
}

.unlock {
    opacity: 1;
}

@keyframes evo1 {
    0% { box-shadow: none;}
    50% { -webkit-box-shadow: 0px 0px 25px -3px rgba(255,43,88,0.78); -moz-box-shadow: 0px 0px 25px -3px rgba(255,43,88,0.78); box-shadow: 0px 0px 25px -3px rgba(255,43,88,0.78);}
    100% { box-shadow: none;}
}

.item-content > img {
    margin-left: var(--small-margin);
}

.item-stats {
    align-items: center;
    display: flex;
    justify-content: center;
}

.item-stats-text {
    margin: var(--small-margin);
}

.item-stats-text > h2 {
    margin: var(--small-margin) 0px;
}

.item-stats-preco {
    align-items: center;
    display: flex;
    justify-content: center;
}

.item-stats-preco > img {
    max-width: 20px;
    margin: 0px var(--extra-small-margin);
}

.item-stats-preco > p {
    margin: 0;
}

.upgrade-amount {
    margin: var(--medium-margin);
    font-size: 25px;
    font-weight: 600;
}

/* responsividade */
@media (max-width: 780px) {
    .game-box {
        grid-template-areas: 
        "gd"
        "loja";
        max-width: 400px;
        margin: 0 auto;
        grid-template-columns: 1fr;
    }

    .game-designer {
        display: flex;
        flex-direction: column;
        background-color: var(--background-nav);
        margin: 0;
        max-width: 100%;
        width: 100%;
    }

    .black-panel {
        top: 0;
    }

    .box-tutorial {
        right: 100px;
        top: 250px;
    }

    .box-tutorial::after {
        top: 0;
        right: 45%;
        margin-top: -15px;
        transform: rotate(90deg);
    }

    .tooltip > h3 {
        display: none;
    }

    .tooltip > p {
        display: none;
    }

    .click-feedback {
        right: 60px;
    }

    .click-per-second {
        left: 100px;
    }
}