/* font */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&display=swap');

:root {
    --background-nav: #1C1C1C;
    --background-content: #050505;
    --background-bar: #404040;
    --color-highlight: #FF2B58;
    --color-title: #fff;
    --color-subtitle: #686868;
    --color-text: #C5C5C5;
    --color-details: #313131;
    --extra-small-padding: 6px;
    --small-padding: 12px;
    --medium-padding: 24px;
    --big-padding: 48px;
    --extra-small-margin: 6px;
    --small-margin: 12px;
    --medium-margin: 24px;
    --big-margin: 48px;
    --huge-margin: 72px;
}

html {
    box-sizing: border-box;
}

body {
    background-color: var(--background-content);    
    font-family: 'Archivo';
    margin: 0 auto;
}

p {
    color: var(--color-text);
}

/* overall content */

.all {
    display: grid;
    grid-template-areas: "nav content";
}

.menu-responsive {
    position: fixed;
    z-index: 10;
}

.close-menu {
    border-radius: 1px;
    width: 1.5em;
    height: 0.25em;
    background-color: var(--color-highlight);
    top: 25px;
    left: 210px;
    position: absolute;
    transform: rotate(-45deg);
    z-index: 20;
    cursor: pointer;
}

.close-menu::after {
    content: " ";
    border-radius: 1px;
    width: 1.5em;
    height: 0.25em;
    background-color: var(--color-highlight);
    position: fixed;
    transform: rotate(90deg);
    z-index: 20;   
}

.background-blur {
    background-color: var(--background-content);
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: .0;
    pointer-events: none;
}

/* nav */

nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: nav;
    background-color: var(--background-nav);
    justify-content: flex-start;
    position: fixed;
    width: 200px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all .3s ease;
    z-index: 10;

    scrollbar-width: thin;
    scrollbar-color: var(--background-bar) var(--background-content);
}

.nav-ul {
    color: var(--color-title);
    font-size: 0.85em;
    padding: 0;
    list-style: none;
    width: 140px;
}

.nav-li {
    color: var(--color-title);
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin: var(--extra-small-margin);
    padding: var(--extra-small-padding);
}

.nav-li > li > i {
    margin-right: var(--extra-small-margin);
}

.nav-li:hover {
    background-color: var(--background-bar);
}


nav > ul > li {
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin: var(--extra-small-margin);
    padding: var(--extra-small-padding);
}

nav > ul > li:hover {
    background-color: var(--background-bar);
}

nav > ul > li > i {
    margin-right: var(--extra-small-margin);
}

.nav-title {
    background-color: var(--background-nav) !important;
    margin-top: var(--medium-margin);
    font-weight: 600;
}

.selected {
    background-color: var(--background-bar);
}

.presentation {
    padding: var(--medium-padding);
}

.presentation-title {
    color: var(--color-text);
    font-size: 1em;
    font-weight: 400;
}

.portrait {
    border-radius: 5px;
    width: 130px;
    height: 130px;
    transition: all .2s ease-out;
}

.blurred {
    filter: blur(20px) grayscale(1);
    transition: 1s ease all;
    cursor: auto !important;
}

.portrait:hover {
    cursor: url('../img/gun-cursor.png'), pointer;
    transform: scale(1.1) rotate(2deg);
}

.game-secret {
    cursor: pointer;
    position: absolute;
    left: 70px;
    top: 100px;
    display: none;
    transition: all .3s ease;
}

.game-secret:hover {
    transform: scale(1.4);
}

.game-unlock {
    display: block;
}

.presentation-subtitle  {
    color: var(--color-title);
    font-size: 0.85em;
    font-weight: 300;
}

/* hp lifebar */

#hpBar {
    color: var(--color-text);
    font-size: 0.72em;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 130px !important;
}


.lifecount {
    font-weight: 400;
}

/* content */

.content {
    grid-area: content;
    justify-content: center;
    max-width: 600px;
    margin-bottom: var(--big-margin);
}

.text {
    margin-top: var(--huge-margin);
}

.title {
    color: var(--color-highlight);
    margin-top: var(--big-margin);
    margin-bottom: var(--medium-margin);
}

strong {
    color: var(--color-title);
}

.link {
    color: var(--color-highlight);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.text-trabalho {
    margin-bottom: var(--small-margin);
}

.text-details {
    color: var(--color-details);
}

.text-subtitle {
    color: var(--color-subtitle);
}

.link-refs {
    text-decoration: none;
}

.link-refs:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-highlight);
}

/* newsletter feed */

.newsletter-feed {
    margin-top: var(--huge-margin);
}

/* game page */

.trailer-content {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.game-plataforms { 
    align-self: center;
    margin-top: 32px;    
}

.game-plataforms > a > img {
    width: 32px;
    padding: 0px var(--medium-padding);
}

.text-game {
    margin-top: var(--medium-margin);
}

.list-game {
    color: var(--color-title);
    font-weight: 00;
    list-style: none;
    padding-left: 0px;
    margin: var(--small-margin) 0px;
}

/* responsive */

@media (max-width: 1080px) {
    .all {        
        grid-template-areas: "content";
    }

    nav {
        position: fixed;
        left: -250px;
        width: 250px;
    }

    .nav-ul {
        width: 215px;
    }

    .menu-responsive {
        border-radius: 1px;
        width: 1.5em;
        height: 0.25em;
        background-color: var(--color-highlight);
        left: 25px;
        top: 20px;
        cursor: pointer;
    }

    .menu-responsive::before {
        content:" ";
        border-radius: 1px;
        width: 1.5em;
        height: 0.25em;
        background-color: var(--color-highlight);
        top: 8px;
        position: absolute;
    }

    .menu-responsive::after {
        content:" ";
        border-radius: 1px;
        width: 1.5em;
        height: 0.25em;
        background-color: var(--color-highlight);
        top: 16px;
        position: absolute;
    }

    .content {
        margin: 0 auto var(--big-margin);
    }
}

@media (max-width: 800px) {
    .content {
        width: 80%;
    }

    .trailer-content > iframe {
        max-width: 400px;
        margin: 0 auto;
    }
}

@media (max-width: 550px) {
    .text-trabalho {
        display: flex;
        flex-direction: column;
    }

    .trailer-content > iframe {
        max-width: 290px;
        height: 200px;
    }

    .game-plataforms > a > img {
        width: 24px;
        padding: 0px var(--small-padding);
    }
}